@use 'vars';
.calculate-buttons{
    //flex-wrap: wrap;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 1px;
}
button{
    border-radius: 30px;
    width: 5rem;
    height: 5rem;
    font-size: 2rem;
    border: none;
    margin: 1vh;
    
}

button:hover {
    opacity: 0.5;
}
.cancel-button{
    color: vars.$cancel-button-font-color;
    background-color:vars.$cancel-button-color;
}
.symbols-button{
    background-color:vars.$symbols-button-color;
    color:vars.$cancel-button-color;
}
.arithmetic-button{
    background-color:vars.$arithmetic-button-color;
    color:vars.$arithmetic-button-font-color;
}
.number-button{
    background-color:vars.$number-button-color;
    color: vars.$number-button-font-color;
}
.equals-button{
    background-color:vars.$equals-button-color;
    color: vars.$equals-button-font-color;
}
#backspace-button{
        background-color: vars.$number-button-color;
        color: vars.$number-button-font-color;
}