@use 'vars';
.calculate-buttons{
    //flex-wrap: wrap;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 1px;
}
button{
    border-radius: 30px;
    width: 5rem;
    height: 5rem;
    font-size: 2rem;
    border: none;
    margin: 1vh;
}
.cancel-button{
    color: #FEFDFB;
    background-color:#FDB82D;
}
.symbols-button{
    background-color: #4B443A;
    color:#FDB82D;
}
.arithmetic-button{
    background-color: #49325C;
    color:#DD8BEF;
}
.number-button{
    background-color: #393A3E;
    color: #9D9D9D;
}
.equals-button{
    background-color: #992BF0;
    color: #FFFFFF;
}
#backspace-button{
        background-color: #393A3E;
        color: #9D9D9D;
}