
$background-grey-color : #282C2F;

//Color setting for all the buttons
$button-font-color :#BBBDB0;
$cancel-button-color : #FDB82D;
$cancel-button-font-color:#FEFDFB;
$symbols-button-color: #4B443A;
$arithmetic-button-color: #49325C;
$arithmetic-button-font-color : #DD8BEF;
$number-button-color: #393A3E;
$number-button-font-color:#9D9D9D;
$equals-button-color: #992BF0;;
$equals-button-font-color:#FFFFFF;

